/* wrapper for slider + navigation buttons */
.sliderWrapper {
  position: relative;
  width: 100%;

  /* انتقال یافت به اینجا برای رفع خطای بیلد */
  :global(.swiper-pagination-bullet-active) {
    background-color: var(--color-text-primary) !important;
  }
}

/* main slider container */
.sliderContainer {
  position: relative;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out;

  &.swiperInitialized {
    opacity: 1;
    visibility: visible;
  }
}

.swiper {
  padding-top: 5px;
  padding-bottom: 5px;
}

.swiperSlide {
  height: auto;
}

.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--color-text-primary);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    color: var(--color-title-hover);
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.prev {
  left: -48px;
}

.next {
  right: -48px;
}