.testimonialCard {
  border-radius: 16px;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.authorInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.author {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-lg);
  display: flex;
  flex-direction: row;
  gap: 10px;
  svg{
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.411);
    border-radius: 50px ;
    padding: 2px;
  }
}

.title {
  color: var(--color-card-text);
  font-size: var(--font-sm);
  opacity: 0.8;
}

.date {
  color: var(--color-card-text);
  font-size: var(--font-xs);
  opacity: 0.6;
  font-weight: var(--font-weight-light);
}

.text {
  color: var(--color-card-text);
  font-size: var(--font-md);
  line-height: var(--line-height-lg);
}




