// Base files that define variables, mixins, and base styles
@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'base/fonts' as *;
@use 'base/typography' as *;
@use 'base/reset' as *;

// Global component classes
@use 'components/cards' as *;
@use 'components/containers' as *;
@use 'components/sections' as *;
@use 'components/overlays' as *;