// Base files that define variables, mixins, and base styles
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/typography';
@import 'base/reset';

// Global component classes
@import 'components/cards';
@import 'components/containers';
@import 'components/sections';
@import 'components/overlays'; 