@use '@/styles/base/mixins' as *;

.main {
  padding-top: var(--space-section-top-desktop);
  padding-bottom: var(--space-section-bottom-desktop);
}

.header {
  margin-bottom: var(--space-title-content-desktop);
}

.title {
  font-size: var(--font-xl);

  @include respond(lg) {
    font-size: var(--font-lg);
  }

  color: var(--color-title-hover);
}