.main {
  padding-top: var(--space-section-top-desktop);
  padding-bottom: var(--space-section-bottom-desktop);
}

.header {
  margin-bottom: var(--space-title-content-desktop);
}

.title {
  font-size: var(--font-xl);
  color: var(--color-title-hover);
}