@use '../../../styles/base/mixins' as *;

.articleCard {
  @include base-card;
}

.imageWrapper {
  @include card-image-wrapper;
}

.articleImage {
  @include card-image;
}

.cardContent {
  @include card-content;
}

.cardTitle {
  @include card-title;
}

.cardExcerpt {
  @include card-text-truncate(3);
  font-weight: 300;
  flex-grow: 0;
}

.footer {
  margin-top: auto;
  padding-top: 12px;
  display: flex;
  justify-content: flex-start;
}

.date {
  color: var(--color-text-primary);
  font-size: var(--font-sm);
  font-weight: var(--font-weight-medium);
  opacity: 0.7;
}