.articleCard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 10;
  flex-shrink: 0;
}

.articleImage {
  object-fit: cover;
}

.cardContent {
  padding: var(--space-title-text-desktop);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cardTitle {
  color: var(--color-text-primary);
  font-size: var(--font-lg);
  margin-bottom: 1rem;
}

.cardExcerpt {
  color: var(--color-card-text);
  font-size: var(--font-md);
  line-height: var(--line-height-md);
  flex-grow: 1;
  
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  margin-top: var(--space-text-button-desktop);
  display: flex;
  justify-content: flex-start;
}

.date {
  color: var(--color-text-primary);
  font-size: var(--font-sm);
  opacity: 0.8;
} 