@use '../../../styles/base/mixins' as *;

.productPage {
  padding: var(--space-section-top-desktop) 0;

  @include respond(md) {
    padding: 96px 0;
  }

  @include respond(sm) {
    padding: 64px 0;
  }
}

.layoutGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-gap-desktop);

  @include respond(md) {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.gallery {
  width: 100%;
}

.mainImage {
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
}

.detailsTitle {
  font-size: var(--font-xl);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;

  @include respond(md) {
    font-size: 28px;
  }

  @include respond(sm) {
    font-size: 24px;
  }
}

.detailsPrice {
  font-size: var(--font-lg);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-medium);
  margin-bottom: 1.5rem;

  @include respond(md) {
    font-size: 18px;
    margin-bottom: 1rem;
  }
}

.detailsDescription {
  font-size: var(--font-md);
  color: var(--color-card-text);
  line-height: var(--line-height-lg);
  margin-bottom: 2rem;

  @include respond(md) {
    font-size: var(--font-sm);
    margin-bottom: 1.5rem;
  }
}