/* Global font-face registrations */

/* IRANSans Regular */
@font-face {
  font-family: 'IRANSans';
  src: url('../../assets/fonts/iransans_regular/iransans-regular-webfont.eot');
  src:
    url('../../assets/fonts/iransans_regular/iransans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/iransans_regular/iransans-regular-webfont.woff2') format('woff2'),
    url('../../assets/fonts/iransans_regular/iransans-regular-webfont.woff') format('woff'),
    url('../../assets/fonts/iransans_regular/iransans-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* IRANSans Light */
@font-face {
  font-family: 'IRANSans';
  src: url('../../assets/fonts/iransans_light/iransans-light-webfont.eot');
  src:
    url('../../assets/fonts/iransans_light/iransans-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/iransans_light/iransans-light-webfont.woff2') format('woff2'),
    url('../../assets/fonts/iransans_light/iransans-light-webfont.woff') format('woff'),
    url('../../assets/fonts/iransans_light/iransans-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* IRANSans Medium */
@font-face {
  font-family: 'IRANSans';
  src: url('../../assets/fonts/iransans_medium/iransans-medium-webfont.eot');
  src:
    url('../../assets/fonts/iransans_medium/iransans-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/iransans_medium/iransans-medium-webfont.woff2') format('woff2'),
    url('../../assets/fonts/iransans_medium/iransans-medium-webfont.woff') format('woff'),
    url('../../assets/fonts/iransans_medium/iransans-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* IRANSans Bold */
@font-face {
  font-family: 'IRANSans';
  src: url('../../assets/fonts/iransans_bold/iransans-bold-webfont.eot');
  src:
    url('../../assets/fonts/iransans_bold/iransans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/iransans_bold/iransans-bold-webfont.woff2') format('woff2'),
    url('../../assets/fonts/iransans_bold/iransans-bold-webfont.woff') format('woff'),
    url('../../assets/fonts/iransans_bold/iransans-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* IRANSans UltraLight */
@font-face {
  font-family: 'IRANSans';
  src: url('../../assets/fonts/iransans_ultralight/iransans-ultralight-webfont.eot');
  src:
    url('../../assets/fonts/iransans_ultralight/iransans-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/iransans_ultralight/iransans-ultralight-webfont.woff2') format('woff2'),
    url('../../assets/fonts/iransans_ultralight/iransans-ultralight-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Lalezar Regular */
@font-face {
  font-family: 'Lalezar';
  src: url('../../assets/fonts/lalezar-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Far Shafigh */
@font-face {
  font-family: 'Far Shafigh';
  src: url('../../assets/fonts/far_shafigh.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}